/* MENU RESPONSIVO */
@media (max-width: 991px){
    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1b1a2285;
    }

    #navbar.active{
        height: calc(100vh - 4rem);
        bottom: 0%;
        width: 100%;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* TABLET */
@media screen and (min-width: 768px)

/* SMARTPHONE */