@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root{
    --clr-bg: #1B1A22;
    --clr-primary: #ee4646;
    --clr-primary-lighter: #FC6D6D;
    --clr-secondary: #03ca98;
    --clr-tertiary: #f5f5f5;
    
    --font-bold: 600;
    --font-bolder: 700;
    
    --font-size: 1rem;
    --font-size-title: 2.5rem;
    --font-size-subtitle: 2rem;
    --font-size-subtitle2: 1.5rem;

    --font-title:'Arimo', sans-serif;
    --font-title-alt:'Antonio', sans-serif;
    --font-txt: 'Work Sans', sans-serif;
}

body{
    background-color: var(--clr-bg);
    font-family: var(--font-txt);
    font-size: 1.6rem;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* para o header ficar em cima */
    z-index: 100;
}

.logo {
    height: 4rem;
    line-height: 4rem;
    padding-left: 25px;
    color: var(--clr-primary);
    font-size: var(--font-size-title);
    font-family: var(--font-title);
    font-weight: var(--font-bolder);
    text-decoration: none;
}

.logo:hover {
    color: var(--clr-primary);
}

a.link-navbar:hover{
    background-color: var(--clr-secondary);
    border-radius: 5px;
    color: blue;
}

/* BANNER SECTION */
div.banner h2{
    position: absolute;
    white-space: nowrap;
    line-height: 100vh;
    animation: banner 480s linear infinite;
    
    font-family: var(--font-title);
    font-size: 12rem;
    font-weight: var(--font-bolder);
    color: var(--clr-tertiary);
}

span.espacador{
    color: var(--clr-primary);
    font-size: 13rem;
}

section#home-intro{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagens/pexels-binyamin-mellish-17840.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}

section div.banner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

@keyframes banner {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.banner-responsivo {
    display: none;
    font-size: 3rem;
    color: var(--clr-tertiary);
    margin: 45%;
}

/* SERVIÇOS SECTION */
#servicos {
    min-height: 80vh;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
}

.home-wo{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(imagens/krakenimages-4l8UH4G2_Dg-unsplash.jpg);
    background-position: center center;
    background-size: cover;
}


.gym-wo{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(imagens/total-shape-wXBK9JrM0iU-unsplash.jpg);
    background-size: cover;
    background-position: center center;
}

.cf-wo{
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(imagens/pexels-leon-ardho-2468339.jpg);
    background-size: cover;
    background-position: center center;
}

.imgSvg {
    width: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 4rem; */
}

.overlay-title{
    color: var(--clr-secondary);
    font-size: var(--font-size-subtitle2);
    font-weight: var(--font-bold);
    padding: 10px 0px;
}

.overlay-txt{
    text-align: center;
    font-size: 1.3rem;
    padding: 15px;
}

.box-servico {
    flex-basis: 100%;/*deixa todas as box de tamanho igual*/
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
}

.conteudo-overlay{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;/*coloca os elementos um em cima do outro*/
    align-items: center;
    justify-content: center;
    opacity: 0; /*vai esconder o conteudo*/
    transition: linear 0.3s;
}

/* vou afetar todo child direto de .conteudo-overlay, ou seja, as tags img / h3 / p */
.conteudo-overlay > * {
    transform: translateY(20px);
    transition: transform 0.3s;
    /* primeiro eu faço o conteúdo sumir para depois no hover eu mudar o translateY e fazer aparecer */
}

.conteudo-overlay:hover{
    opacity: 1; /*mostra o conteúdo*/
}

.conteudo-overlay:hover > * {
    transform: translateY(0);
    /*fazendo aparecer do bottom*/
}



/* VANTAGENS */
#vantagens{
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-tertiary);
}

.vantagens-txt{
    width: 100%;
    background-color: var(--clr-tertiary);
    text-align: center;
    margin: auto auto;
}

.vantagens-txt > h3 {
    color: var(--clr-primary);
    font-family: var(--font-title);
    font-weight: var(--font-bolder);
    font-size: var(--font-size-subtitle);
}

.vantagens-img{
    width: 100%;
    background: url(imagens/scott-webb-5IsdIqwwNP4-unsplash.jpg);
    background-size: cover;
    background-position: center top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 31% 100%);
}
p.destaque{
    padding: 50px 15px;
    font-size: 1.1rem;
}

p.destaque > * {
    color: var(--clr-secondary);
    font-weight: var(--font-bolder);
    font-size: 1.2rem;
}


/* PLANOS */
#planos {
    min-height: 120vh;
    background-color: var(--clr-tertiary);
    position: relative;
    display: flex;
    flex-direction: row;
}
.cartao {
    width: 100%;
    height: auto;
}

.cartao-body{
    overflow: hidden; /*faz a borda superior ficar arredondada tambem*/
    border-radius: 10px;
    margin: 50px 15px;
    width: 90%;
    height: 70%;
    box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.53);
    position: relative;
}

.cartao-title {
    color: var(--clr-tertiary);
    font-family: var(--font-title);
    font-size: var(--font-size-subtitle2);
    background-color: var(--clr-primary);
    text-align: center;
    padding: 20px 0;
}

ul.cartao-content > li {
    padding: 5px;
    list-style: none;
    font-size: var(--font-size);
}

.fa-check {
    color: var(--clr-primary-lighter);
}

.valor {
    padding-left: 35px;
    padding-top: 5px;
    font-size: var(--font-size-subtitle);
    font-family: var(--font-title);
    color: var(--clr-primary-lighter);
}

.valor-span {
    color: black;   
    font-size: var(--font-size);
}

.button-cartao {
    position: absolute;
    bottom: 5%;
    left: 15%;
}

.button-btn{
    color: black !important;
    font-size: 1rem;
}


.custom-shape-divider-bottom-1619468305 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619468305 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 132px;
}

.custom-shape-divider-bottom-1619468305 .shape-fill {
    fill: #1B1A22;
}

/* DEPOIMENTOS */
#depoimentos{
    min-height: 200vh;
    position: relative;
    background: rgb(245,245,245);
    background: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(27,26,34,1) 40%);
}

section#depoimentos > h3 {
    color: var(--clr-tertiary);
    font-family: var(--font-title);
    font-weight: var(--font-bolder);
    font-size: var(--font-size-subtitle);
    text-align: center;
}

.box-depoimento {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.depoimento-img {
    width: 60%;
}

.retrato-depoimento {
    border-radius: 200px;
    display: flex;
    margin: 10% 25%;
}

.depoimento-txt-area{
    width: 100%;
    height: 100%;
    margin: auto auto;
    position: relative;
}

p.depoimento-txt {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px;
}

p.aluno {
    text-align: end;
    padding-right: 20px;
    color: white;
    font-size: 0.9rem;
}

.fa-quote-left {
    font-size: 1.5rem;
    color: #03ca983f;
}

.fa-quote-right{
    font-size: 1.5rem;
    color: #03ca983f;
}

/* CONTATO */
.box{
    background-color: var(--clr-tertiary);
    width: 50%;
    padding: 40px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    box-sizing: border-box;
    box-shadow: 4px 1px 15px 1px rgba(0,0,0,0.61);
    border-radius: 10px;
}

.box h4{
    font-family: var(--font-title);
    font-weight: var(--font-bolder);
    padding-bottom: 20px;
    color: var(--clr-primary);
    text-align: center;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.5s;
}

/* Quando input estiver focado, o label vai ter a seguinte config */
/* input:valid faz com que o label fixe a seguinte config quando preenchido o input, caso contrário o label desce.*/
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -10px;
    left: 0;
    color: rgba(0, 0, 0, 0.637);
    font-size: 0.8rem;
}

.box input[type="submit"]{
    padding: 10px;
    width: 100px;
    border: none;
    background-color: var(--clr-primary-lighter);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    font-size: 1rem;
}

.box input[type="submit"]:hover{
    background-color: var(--clr-secondary);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: #14121a !important;
}

.footer-info{
    width: 100%;
    margin: 10px;
}

div.footer-info > h5 {
    color: var(--clr-primary);
    font-size: 1.1rem;
    font-weight: var(--font-bolder);
    text-align: center;
    margin-bottom: 15px;
}

div.footer-info > p { 
    color: white;
    margin: 0;
    padding: 2px;
    font-size: var(--font-size);
}

.fa-phone-alt, 
.fa-envelope, 
.fa-map-marker-alt {
    color: var(--clr-secondary);
    padding-right: 20px;
    font-size: var(--font-size);
}

iframe {
    margin: 15px;
}

.footer-redes{
    display: flex;
    width: 100%;
    position: relative;
}

.footer-redes > a {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.fa-facebook-square,
.fa-instagram,
.fa-discord {
    color: var(--clr-secondary);
    font-size: 2rem;
    margin: 10px;
}

.footer-info {
    padding: 10px;
}

/* RODAPÉ */
#desenvolvido{
    height: 40px;
}

#desenvolvido p{
    text-align: center;
    color: var(--clr-tertiary);
    margin-top: 20px;
    font-size: 0.8rem;
}

.dev{
    color: var(--clr-secondary);
    font-size: 0.8rem;
}

